.page{
    min-height: 100vh;
    width: 100%;
    background-color: #EDEDFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}


.userInfo {
    padding: 10px 0px;
    
}

.userInfo p {
    margin: 0;
    font-size: 14px;
    color: #666;
    white-space: nowrap; 
}

.userInfo strong {
    color: #333;
}


.title {
    margin: 0;
    color: #333;
}

.addButton{
    width: auto !important;
    min-width: auto !important;
    padding: 0.75rem 1.5rem !important;
}